/* setting color palette */
:root {
  --color-1: #116165;
  --color-2: #0b3948;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

body {
  background-color: var(--color-1);
  color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  background-color: var(--color-2);
  padding: 10px 20px 10px 20px;
  height: 260px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  margin: 10px;
}

.input-line {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="number"] {
  height: 18px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid black;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid var(--color-1);
  outline: none;
}

#submit-container {
  align-self: center;
  margin-top: 10px;
  /* padding: 10px 0px 5px 0px; */
}

input[type="submit"],
button {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#submit-btn {
  height: 30px;
  width: 60px;
}

/* table styling */
#table-container {
  background-color: var(--color-2);
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

#employee-table {
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}

/* total costs styling */
#total-costs {
  padding: 10px;
  border-radius: 10px;
}

#a-lot-text {
  margin: 0px;
}
